label {
    font-weight: bold;
    width: 250px;
}

a.tabledrag-handle .handle {
    height: 30px;
    margin: 0 1em 0 1em;
    padding: 0.42em 0.5em;
    width: 30px;
}

.js-form-managed-file {
    margin-right: 2rem;
}

.form-text {
    display: inline-block !important;
    margin: 0;
}