.site-organization-tabs {
	max-width: 992px;
	margin-left: auto;
	margin-right: auto;
}

.site-organization-tabs__input {
	display: none;
}

.site-organization-tabs__input:checked + label {
	background-color: #bdbdbd;
}

.site-organization-tabs__content {
	display: none;
	border: 1px solid #eee;
	padding: 10px 15px;
	border-radius: 4px;
}

#site-organization-tabs__input-1:checked ~ #site-organization-tabs__content-1,
#site-organization-tabs__input-2:checked ~ #site-organization-tabs__content-2,
#site-organization-tabs__input-3:checked ~ #site-organization-tabs__content-3 {
	display: block;
}

.site-organization-tabs__label {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: #eee;
	border: 1px solid transparent;
	padding: 2px 8px;
	font-size: 16px;
	line-height: 1.5;
	border-radius: 4px;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
	margin-left: 6px;
	cursor: pointer;
	margin-bottom: 10px;
}

.site-organization-tabs__label:first-of-type {
	margin-left: 0;
}

.site-organization-tabs__administration-links {
    margin: 1rem 0;
}

.site-organization-tabs__contractor {
    margin-bottom: 1rem;
}
