{{ attach_library('site_organization/module') }}
<h2>Мои контрагенты</h2>
<p>
  Вы можете создать свой справочник контрагентов. Контрагенты – это участники правоотношений (физические лица, индивидуальные предприниматели, юридические лица).
  Вы можете сами выступать в качестве контрагента или это может быть другое физическое лицо или организация, от имени которого вы размещаете объявления в системе.
</p>

<div class="site-organization-tabs">
    <input class="site-organization-tabs__input" type="radio" name="tab-btn" id="site-organization-tabs__input-1" value="" checked>
    <label class="site-organization-tabs__label" for="site-organization-tabs__input-1">Физические лица</label>
    <input class="site-organization-tabs__input" type="radio" name="tab-btn" id="site-organization-tabs__input-2" value="">
    <label class="site-organization-tabs__label" for="site-organization-tabs__input-2">Индивидуальные предприниматели</label>
    <input class="site-organization-tabs__input" type="radio" name="tab-btn" id="site-organization-tabs__input-3" value="">
    <label class="site-organization-tabs__label" for="site-organization-tabs__input-3">Юридические лица</label>

    <div class="site-organization-tabs__content" id="site-organization-tabs__content-1">
      {% if logged_in and user.hasPermission('site organization allow add contractors') %}
        <div class="site-organization-tabs__administration-links">
          <a class="site-organization-tabs__contractor-add-link" href="{{ path('site_organization.contractor_add', {'entity_type': 'type_2'}) }}">
            <i class="fas fa-plus"></i> {{ "Add a contractor"|t }}
          </a>
        </div>
      {% endif %}

      {# Список контрагентов. #}
      <div class="site-organization-tabs__contractors">
        {% for id, data in contractors_type_2 %}
          <div class="site-organization-tabs__contractor"><a href="/contractor/{{ id }}">{{ data }}</a></div>
        {% endfor %}
      </div>
    </div>

    <div class="site-organization-tabs__content" id="site-organization-tabs__content-2">
      {% if logged_in and user.hasPermission('site organization allow add contractors') %}
        <div class="site-organization-tabs__administration-links">
          <a class="site-organization-tabs__contractor-add-link" href="{{ path('site_organization.contractor_add', {'entity_type': 'type_3'}) }}">
            <i class="fas fa-plus"></i> {{ "Add a contractor"|t }}
          </a>
        </div>
      {% endif %}

      {# Список контрагентов. #}
      <div class="site-organization-tabs__contractors">
        {% for id, data in contractors_type_3 %}
          <div class="site-organization-tabs__contractor"><a href="/contractor/{{ id }}">{{ data }}</a></div>
        {% endfor %}
      </div>
    </div>

    <div class="site-organization-tabs__content" id="site-organization-tabs__content-3">
      {% if logged_in and user.hasPermission('site organization allow add contractors') %}
        <div class="site-organization-tabs__administration-links">
          <a class="site-organization-tabs__contractor-add-link" href="{{ path('site_organization.contractor_add', {'entity_type': 'type_4'}) }}">
            <i class="fas fa-plus"></i> {{ "Add a contractor"|t }}
          </a>
        </div>
      {% endif %}

      {# Список контрагентов. #}
      <div class="site-organization-tabs__contractors">
        {% for id, data in contractors_type_4 %}
          <div class="site-organization-tabs__contractor"><a href="/contractor/{{ id }}">{{ data }}</a></div>
        {% endfor %}
      </div>
    </div>
</div>
